In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (past 3 hours),Snow inches (past 3 hours)
0,0,Esperance,AU,2020-05-10 00:29:01,-33.87,121.90,50.00,76,0,14.99,clear sky,0,0
1,1,Ushuaia,AR,2020-05-10 00:25:05,-54.80,-68.30,44.60,75,80,3.36,broken clouds,0,0
2,2,Chuy,UY,2020-05-10 00:29:01,-33.70,-53.46,55.71,74,54,7.49,broken clouds,0,0
3,3,Whitehorse,CA,2020-05-10 00:25:09,60.72,-135.05,69.80,21,40,16.11,scattered clouds,0,0
4,4,Sao Gabriel Da Cachoeira,BR,2020-05-10 00:29:01,-0.13,-67.09,75.20,95,100,1.48,light rain,0,0

In [4]:
# Minimun and Maximun preference
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [5]:
# Filter the dataset to find the cities that fit the criteria.
preferred_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_temp_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (past 3 hours),Snow inches (past 3 hours)
3,3,Whitehorse,CA,2020-05-10 00:25:09,60.72,-135.05,69.80,21,40,16.11,scattered clouds,0,0
4,4,Sao Gabriel Da Cachoeira,BR,2020-05-10 00:29:01,-0.13,-67.09,75.20,95,100,1.48,light rain,0,0
7,7,Kapaa,US,2020-05-10 00:28:17,22.08,-159.32,78.80,65,40,19.46,scattered clouds,0,0
8,8,Kindu,CD,2020-05-10 00:29:02,-2.95,25.95,70.65,98,100,1.66,light rain,0,0
9,9,Bairiki,KI,2020-05-10 00:29:02,1.33,172.98,87.80,70,20,8.05,few clouds,0,0
12,12,Ayia Galini,GR,2020-05-10 00:29:03,35.10,24.68,61.00,70,0,1.99,clear sky,0,0
18,18,Trat,TH,2020-05-10 00:29:04,12.50,102.50,81.59,87,100,1.32,overcast clouds,0,0
19,19,East London,ZA,2020-05-10 00:29:04,-33.02,27.91,64.83,70,9,5.57,clear sky,0,0
22,22,Puerto Ayora,EC,2020-05-10 00:29:04,-0.74,-90.35,77.00,92,42,6.62,scattered clouds,0,0
27,27,Boyolangu,ID,2020-05-10 00:29:05,-8.12,111.89,76.46,86,100,0.89,overcast clouds,0,0

In [6]:
# Customer rain preference
rainy_city = str(input("Do you want it to be raining? (yes/no)"))

# Selection conditions
if (rainy_city == 'yes'):
    cities_raining = preferred_temp_df[preferred_temp_df["Rain inches (past 3 hours)"] != 0]
    if (cities_raining.empty == True):
        print('Has not been raining in the last 3 hours on the cities')
    else:
        cities_raining_count = cities_raining["Rain inches (past 3 hours)"].count()
        print(f"{cities_raining_count} cities are reporting rain.")
        
elif (rainy_city == 'no'):
    cities_raining = preferred_temp_df[preferred_temp_df["Rain inches (past 3 hours)"] == 0]
    cities_raining_count = cities_raining["Rain inches (past 3 hours)"].count()
    print(f"{cities_raining_count} cities are not reporting rain.")
else:
    print('Please enter yes or no... Ask the question again')

Do you want it to be raining? (yes/no)no
338 cities are not reporting rain.

In [7]:
# Customer snow preference
snowy_city = str(input("Do you want it to be snowing? (yes/no)"))

# Selection conditions
if (snowy_city == 'yes'):
    cities_snowing = preferred_temp_df[preferred_temp_df["Snow inches (past 3 hours)"] != 0]
    if (cities_snowing.empty == True):
        print('Has not been snowing in the last 3 hours on the cities')
    else:
        cities_snowing_count = cities_snowing["Snow inches (past 3 hours)"].count()
        print(f"{cities_snowing_count} cities are reporting snow.")
        
elif (snowy_city == 'no'):
    cities_snowing = preferred_temp_df[preferred_temp_df["Snow inches (past 3 hours)"] == 0]
    cities_snowing_count = cities_snowing["Snow inches (past 3 hours)"].count()
    print(f"{cities_snowing_count} cities are not reporting snow.")
else:
    print('Please enter yes or no... Ask the question again')

Do you want it to be snowing? (yes/no)no
338 cities are not reporting snow.

In [8]:
# Create data frame on rainy and snowy cities
rainy_snowy_cities_df = pd.merge(cities_raining, cities_snowing,
                                 on=['City_ID', 'City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed', 'Current Description', 'Rain inches (past 3 hours)', 'Snow inches (past 3 hours)'])

In [9]:
rainy_snowy_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (past 3 hours),Snow inches (past 3 hours)
0,3,Whitehorse,CA,2020-05-10 00:25:09,60.72,-135.05,69.80,21,40,16.11,scattered clouds,0,0
1,4,Sao Gabriel Da Cachoeira,BR,2020-05-10 00:29:01,-0.13,-67.09,75.20,95,100,1.48,light rain,0,0
2,7,Kapaa,US,2020-05-10 00:28:17,22.08,-159.32,78.80,65,40,19.46,scattered clouds,0,0
3,8,Kindu,CD,2020-05-10 00:29:02,-2.95,25.95,70.65,98,100,1.66,light rain,0,0
4,9,Bairiki,KI,2020-05-10 00:29:02,1.33,172.98,87.80,70,20,8.05,few clouds,0,0

In [10]:
rainy_snowy_cities_df.count()

City_ID                       338
City                          338
Country                       336
Date                          338
Lat                           338
Lng                           338
Max Temp                      338
Humidity                      338
Cloudiness                    338
Wind Speed                    338
Current Description           338
Rain inches (past 3 hours)    338
Snow inches (past 3 hours)    338
dtype: int64

In [11]:
rainy_snowy_cities_df.isnull().sum()

City_ID                       0
City                          0
Country                       2
Date                          0
Lat                           0
Lng                           0
Max Temp                      0
Humidity                      0
Cloudiness                    0
Wind Speed                    0
Current Description           0
Rain inches (past 3 hours)    0
Snow inches (past 3 hours)    0
dtype: int64

In [12]:
rainy_snowy_cities_complete = rainy_snowy_cities_df.dropna()
rainy_snowy_cities_complete.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (past 3 hours),Snow inches (past 3 hours)
0,3,Whitehorse,CA,2020-05-10 00:25:09,60.72,-135.05,69.80,21,40,16.11,scattered clouds,0,0
1,4,Sao Gabriel Da Cachoeira,BR,2020-05-10 00:29:01,-0.13,-67.09,75.20,95,100,1.48,light rain,0,0
2,7,Kapaa,US,2020-05-10 00:28:17,22.08,-159.32,78.80,65,40,19.46,scattered clouds,0,0
3,8,Kindu,CD,2020-05-10 00:29:02,-2.95,25.95,70.65,98,100,1.66,light rain,0,0
4,9,Bairiki,KI,2020-05-10 00:29:02,1.33,172.98,87.80,70,20,8.05,few clouds,0,0

In [13]:
rainy_snowy_cities_complete.count()

City_ID                       336
City                          336
Country                       336
Date                          336
Lat                           336
Lng                           336
Max Temp                      336
Humidity                      336
Cloudiness                    336
Wind Speed                    336
Current Description           336
Rain inches (past 3 hours)    336
Snow inches (past 3 hours)    336
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = rainy_snowy_cities_complete[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp    Lat     Lng Hotel Name
0                Whitehorse      CA     69.80  60.72 -135.05
1  Sao Gabriel Da Cachoeira      BR     75.20  -0.13  -67.09
2                     Kapaa      US     78.80  22.08 -159.32
3                     Kindu      CD     70.65  -2.95   25.95
4                   Bairiki      KI     87.80   1.33  172.98
5               Ayia Galini      GR     61.00  35.10   24.68
6                      Trat      TH     81.59  12.50  102.50
7               East London      ZA     64.83 -33.02   27.91
8              Puerto Ayora      EC     77.00  -0.74  -90.35
9                 Boyolangu      ID     76.46  -8.12  111.89

In [15]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
hotels

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
len(hotels["results"])

6

In [17]:
hotels["results"][0]["name"]

'Motel JOMBA'

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Whitehorse,CA,69.80,60.72,-135.05,Westmark Hotel
1,Sao Gabriel Da Cachoeira,BR,75.20,-0.13,-67.09,Alarne - Área De Lazer Do Alto Rio Negro
2,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,Kindu,CD,70.65,-2.95,25.95,Hotel Karibu
4,Bairiki,KI,87.80,1.33,172.98,Tarawa Boutique Hotel
...,...,...,...,...,...,...
333,Kirakira,SB,86.59,-10.45,161.92,SanBiz Lodge
334,Changji,CN,69.80,44.02,87.32,Lvye Holiday Resort
335,Mayahi,NE,85.33,13.96,7.67,
336,Dingle,PH,88.20,11.00,122.67,Camp Pasica
337,Banyo,CM,66.38,6.75,11.82,Motel JOMBA

In [19]:
# Create the output file (CSV).
output_data_file = "data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))